<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="compositeMapper">
	
	<resultMap type="Category" id="categoryResultMap">
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</resultMap>
	<resultMap type="ReplyCo" id="replyCoResultMap">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_TITLE" property="productTitle"/>
		<result column="USER_NO" property="userNo"/>
		<result column="REPLY_TEXT" property="replyText"/>
		<result column="REPLY_DATE" property="replyDate"/>
	</resultMap>
	<resultMap id="boardCoResultMap" type="BoardCo">
	    <id property="productNo" column="PRODUCT_NO"/>
	    <result property="categoryName" column="CATEGORY_NAME"/>
	    <result property="uploadDate" column="UPLOAD_DATE"/>
	    <result property="productTitle" column="PRODUCT_TITLE"/>
	    <result property="productContent" column="PRODUCT_CONTENT"/>
	    <result property="replyCount" column="REPLY_COUNT"/>
	</resultMap>
	<resultMap type="BakeryComment" id="bakeryCommentResultMap">
		<result column="COMMENT_NO" property="commentNo"/>
		<result column="PARENT_COMMENT_NO" property="parentCommentNo"/>
		<result column="COMMENT_CONTENT" property="commentContent"/>
		<result column="COMMENT_TYPE" property="commentType"/>
		<result column="BAKERY_NO" property="bakeryNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="USER_NAME" property="userName"/>
		<result column="COMMENT_DATE" property="commentDate"/>
		<result column="BAKERY_LIKE" property="bakeryLike"/>
	</resultMap>
	
	<!-- ajax - 카테고리 조회 -->
	<select id="selectCategory" resultMap="categoryResultMap">
		select CATEGORY_NO,CATEGORY_NAME
		from category
	</select>
	
	<!-- ajax - 게시글 수 조회 -->
	<select id="countMyBoard" resultType="int" parameterType="SearchForm">
	<bind name="searchPattern" value="'%' + searchKeyword + '%'" />
		select count(*)
		from PRODUCT_BOARD
		where user_no = #{userNo}
		<choose>
        <!-- 검색 타입1이 'all'이 아닌 경우 -->
			<when test="searchType1 != 'all'">
				and CATEGORY_NO = #{searchType1}
				<choose>
					<when test="searchType2 == 'title'">
						and PRODUCT_TITLE LIKE #{searchPattern}
					</when>
					<when test="searchType2 == 'content'">
						and PRODUCT_CONTENT LIKE #{searchPattern}
					</when>
					<otherwise>
						and (PRODUCT_TITLE LIKE #{searchPattern} 
							OR PRODUCT_CONTENT LIKE #{searchPattern})
					</otherwise>
				</choose>
			</when>
			<!-- 검색 타입1이 'all'인 경우 -->
			<otherwise>
				<choose>
					<when test="searchType2 == 'title'">
                         and PRODUCT_TITLE LIKE #{searchPattern}
					</when>
					<when test="searchType2 == 'content'">
                         and PRODUCT_CONTENT LIKE #{searchPattern}
					</when>
					<otherwise>
                         and (PRODUCT_TITLE LIKE #{searchPattern} 
                              OR PRODUCT_CONTENT LIKE #{searchPattern})
					</otherwise>
				</choose>
			</otherwise>
		</choose>
	</select>
	
	<!-- ajax - 판매 게시글 조회 -->
	<select id="searchMyBoard" resultMap="boardCoResultMap" parameterType="SearchForm">
	<bind name="searchPattern" value="'%' + searchKeyword + '%'" />
		select *
		from(
			select t.*, rownum as rn
			from (select
					pb.PRODUCT_NO
					,c.CATEGORY_NAME
					,pb.PRICE
					,pb.UPLOAD_DATE
					,pb.PRODUCT_TITLE
					,pb.PRODUCT_CONTENT
					,pb.STATUS
					,count(r.REPLY_NO) as COUNT_REPLY
				from PRODUCT_BOARD pb
				left join CATEGORY c on (c.CATEGORY_NO=pb.CATEGORY_NO)
				left join REPLY r on(r.PRODUCT_NO = pb.PRODUCT_NO)
				where user_no = #{userNo}
				<choose>
	                <!-- 검색 타입1이 'all'이 아닌 경우 -->
	            	<when test="searchType1 != 'all'">
	                    and pb.CATEGORY_NO = #{searchType1}
	                    <choose>
	                        <when test="searchType2 == 'title'">
	                            and pb.PRODUCT_TITLE LIKE #{searchPattern}
	                        </when>
	                        <when test="searchType2 == 'content'">
	                            and pb.PRODUCT_CONTENT LIKE #{searchPattern}
	                        </when>
	                        <otherwise>
	                            and (pb.PRODUCT_TITLE LIKE #{searchPattern} 
	                                 OR pb.PRODUCT_CONTENT LIKE #{searchPattern})
	                        </otherwise>
	                    </choose>
					</when>
					<!-- 검색 타입1이 'all'인 경우 -->
					<otherwise>
						<choose>
							<when test="searchType2 == 'title'">
	                            and pb.PRODUCT_TITLE LIKE #{searchPattern}
							</when>
							<when test="searchType2 == 'content'">
	                            and pb.PRODUCT_CONTENT LIKE #{searchPattern}
							</when>
							<otherwise>
	                            and (pb.PRODUCT_TITLE LIKE #{searchPattern} 
	                                 OR pb.PRODUCT_CONTENT LIKE #{searchPattern})
							</otherwise>
						</choose>
					</otherwise>
				</choose>
				group by pb.PRODUCT_NO, c.CATEGORY_NAME, pb.PRICE,
                     pb.UPLOAD_DATE, pb.PRODUCT_TITLE, 
                     pb.PRODUCT_CONTENT, pb.STATUS
				order by UPLOAD_DATE desc
				) t
			where rownum &lt;= #{endRow}
			)
		where rn &gt;= #{startRow}
	</select>
	
	<!-- ajax - 판매 게시판 댓글 수 조회 -->
	<select id="countMyReply" resultType="int" parameterType="SearchForm">
		select count(*)
		from REPLY
		where user_no = #{userNo}
		<if test="searchType1 != 'all'">
			and CATEGORY_NO = #{searchType1}
		</if>
	</select>
	
	<!-- ajax - 판매 게시판 댓글 조회 -->
	<select id="searchMyReply" resultMap="replyCoResultMap" parameterType="SearchForm">
		select *
		from(
			select REPLY_NO
					,PRODUCT_NO
					,PRODUCT_TITLE
					,USER_NO
					,REPLY_TEXT
					,REPLY_DATE
					,rownum as rn
			from (select
					p.REPLY_NO
					,p.PRODUCT_NO
					,p.PRODUCT_TITLE
					,p.USER_NO
					,p.REPLY_TEXT
					,p.REPLY_DATE
				from REPLY p
				left join PRODUCT_BOARD pb on (p.PRODUCT_NO=pb.PRODUCT_NO)
				where user_no = #{userNo}
				<if test="searchType1 != 'all'">
					and pb.CATEGORY_NO = #{searchType1}
				</if>
				order by REPLY_DATE desc
				)
			where rownum &lt;= #{endRow}
			)
		where rn &gt;= #{startRow}
	</select>
	
	
	<!-- ajax - 우리동네빵집 댓글 수 조회 -->
	<select id="countMyReplyDongne" resultType="int" parameterType="SearchForm">
		select count(*)
		from BAKERY_COMMENT
		where user_no = #{userNo}
	</select>
	
	<!-- ajax - 우리동네빵집 댓글 조회 -->
	<select id="searchMyReplyDongne" resultMap="bakeryCommentResultMap" parameterType="SearchForm">
		select *
		from(
			select comment_no
				    ,parent_comment_no
				    ,comment_content
				    ,comment_type
				    ,bakery_no
				    ,comment_date
				    ,bakery_like
				    ,status
					,rownum as rn
			from (select
						BC.comment_no,
					    BC.parent_comment_no,
					    BC.comment_content,
					    BC.comment_type,
					    BC.bakery_no,
					    BC.comment_date,
					    BC.bakery_like,
					    BC.status
				from BAKERY_COMMENT BC
				left join bakery b on(bc.bakery_no = b.bakery_no)
				where BC.user_no = #{userNo}
				order by BC.REPLY_DATE desc
				)
			where rownum &lt;= #{endRow}
			)
		where rn &gt;= #{startRow}
	</select>
	
	<select id="countMyWishlist" parameterType="int">
		select count(*)
		from wishlist
		where userNo = #{userNo}
	</select>
	
	<select id="searchMyWishlist" parameterType="map" resultMap="boardCoResultMap">
		select *
		from(
			select t.*, rownum as rn
			from (select
					pb.PRODUCT_NO
					,c.CATEGORY_NAME
					,pb.PRICE
					,pb.UPLOAD_DATE
					,pb.PRODUCT_TITLE
					,pb.PRODUCT_CONTENT
					,pb.STATUS
					,count(r.REPLY_NO) as COUNT_REPLY
				from PRODUCT_BOARD pb
				left join CATEGORY c on (c.CATEGORY_NO=pb.CATEGORY_NO)
				left join REPLY r on(r.PRODUCT_NO = pb.PRODUCT_NO)
				right join wishlist w on(w.user_no = pb.user_no)
				where w.user_no = #{userNo}
				) t
			where rownum &lt;= #{endRow}
			)
		where rn &gt;= #{startRow}
	</select>
</mapper>