<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="compositeMapper">
	
	<resultMap type="Category" id="categoryResultMap">
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</resultMap>
	<resultMap id="productResultMap" type="Product">
	    <id property="productNo" column="PRODUCT_NO"/>
	    <result property="categoryNo" column="CATEGORY_NO"/>
	    <result property="score" column="SCORE"/>
	    <result property="userNo" column="USER_NO"/>
	    <result property="price" column="PRICE"/>
	    <result property="uploadDate" column="UPLOAD_DATE"/>
	    <result property="productCount" column="PRODUCT_COUNT"/>
	    <result property="productTitle" column="PRODUCT_TITLE"/>
	    <result property="productContent" column="PRODUCT_CONTENT"/>
	    <result property="status" column="STATUS"/>
	</resultMap>
	
	<!-- ajax - 카테고리 조회 -->
	<select id="selectCategory" resultMap="categoryResultMap">
		select CATEGORY_NO,CATEGORY_NAME
		from category
	</select>
	
	<!-- ajax - 게시글 수 조회 -->
	<select id="countMyBoard" resultType="int" parameterType="SearchForm">
		select count(*)
		from PRODUCT_BOARD
		where user_no = #{userNo}
	</select>
	
	<!-- ajax - 판매 게시글 조회 -->
	<select id="selectMyBoard" resultMap="productResultMap" parameterType="SearchForm">
		<bind name="searchPattern" value="'%' + searchKeyword + '%'" />
		select *
		from(
			select PRODUCT_NO
					,CATEGORY_NAME
					,SCORE
					,USER_NO
					,PRICE
					,UPLOAD_DATE
					,PRODUCT_COUNT
					,PRODUCT_TITLE
					,PRODUCT_CONTENT
					,STATUS
					,rownum as rn
			from (select
					PRODUCT_NO
					,CATEGORY_NAME
					,SCORE
					,USER_NO
					,PRICE
					,UPLOAD_DATE
					,PRODUCT_COUNT
					,PRODUCT_TITLE
					,PRODUCT_CONTENT
					,STATUS
				from PRODUCT_BOARD pb
				join CATEGORY using (CATEGORY_NO)
				where user_no = #{userNo}
				<choose>
	                <!-- 검색 타입1이 'all'이 아닌 경우 -->
	            	<when test="searchType1 != 'all'">
	                    and CATEGORY_NO = #{searchType1}
	                    <choose>
	                        <when test="searchType2 == 'title'">
	                            and PRODUCT_TITLE LIKE #{searchPattern}
	                        </when>
	                        <when test="searchType2 == 'content'">
	                            and PRODUCT_CONTENT LIKE #{searchPattern}
	                        </when>
	                        <otherwise>
	                            and (PRODUCT_TITLE LIKE #{searchPattern} 
	                                 OR PRODUCT_CONTENT LIKE #{searchPattern})
	                        </otherwise>
	                    </choose>
					</when>
					<!-- 검색 타입1이 'all'인 경우 -->
					<otherwise>
						<choose>
							<when test="searchType2 == 'title'">
	                            and PRODUCT_TITLE LIKE #{searchPattern}
							</when>
							<when test="searchType2 == 'content'">
	                            and PRODUCT_CONTENT LIKE #{searchPattern}
							</when>
							<otherwise>
	                            and (PRODUCT_TITLE LIKE #{searchPattern} 
	                                 OR PRODUCT_CONTENT LIKE #{searchPattern})
							</otherwise>
						</choose>
					</otherwise>
				</choose>
				order by UPLOAD_DATE desc
				)
			where rownum &lt;= #{endRow}
			)
		where rn &gt;= #{startRow}
	</select>
	
</mapper>