<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cookieMapper">

	<resultMap type="CookieToken" id="cookieTokenResultMap">
		<result column="COOKIE_NO" property="cookieNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>
	<resultMap type="Member" id="memberResultMap">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="ROLE_TYPE" property="roleType"/>
		<result column="MAIN_COORD" property="mainCoord"/>
		<result column="MAIN_LOCATION" property="mainLocation"/>
	</resultMap>
	<resultMap type="Coord" id="coordResultMap">
		<result column="COORD_NO" property="coordNo"/>
		<result column="COORD_ADDRESS" property="coordAddress"/>
		<result column="COORD_DATE" property="coordDate"/>
	</resultMap>
	
	<delete id="deleteAutoLoginToken" parameterType="CookieToken">
		delete from cookie_token
		where user_no = #{userNo}
		and token_type = 'autoLogin'
	</delete>
	
	<insert id="insertAutoLoginToken" parameterType="CookieToken">
	    <selectKey keyProperty="tokenNo" resultType="int" order="BEFORE">
	        SELECT seq_cookie_token.nextval FROM dual
	    </selectKey>
	    INSERT INTO cookie_token (token_no, token,user_no, token_type)
	    VALUES (#{tokenNo}, #{token}, #{userNo}, 'autoLogin')
	</insert>
	
	<select id="selectAutoLoginToken" parameterType="CookieToken" resultType="int">
		select count(*)
		from cookie_token
		where token = #{token}
		and user_no = #{user_no}
		and token_type = 'autoLogin'
	</select>
	
	<select id="autoLogin" parameterType="int" resultMap="memberResultMap">
	    select 
	        m.USER_NO,
	        m.USER_ID,
	        m.USER_PWD,
	        m.USER_NAME,
	        m.PHONE,
	        m.point,
	        m.ENROLLDATE,
	        m.MODIFYDATE,
	        m.STATUS,
	        m.MAIN_COORD,
	        m.MAIN_LOCATION,
	        case 
	            when exists (
	                select 1
	                from ROLE r
	                where r.USER_NO = m.USER_NO
	            ) then 'Y'
	            else 'N'
	        end as ROLE_TYPE
	    from MEMBER m
	    where m.user_no = #{user_no}
	</select>
	
</mapper>
