<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emailMapper">

	<resultMap type="MemberToken" id="MemberTokenResultMap">
		<result column="USER_NO" property="userNo"/>
		<result column="TOKEN_NO" property="tokenNo"/>
		<result column="GENERATED_TIME" property="generatedTime"/>
	</resultMap>
	<resultMap type="Member" id="memberResultMap">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
	</resultMap>
	
	<update id="deleteToken">
		update token
		set TOKEN_STATUS = 'N'
		where USER_NO = #{userNo}
		and TOKEN_STATUS = 'Y'
	</update>
	
	
	<!-- 토큰번호 생성하면 인스턴스에 자동 저장 -->
	<insert id="insertToken" parameterType="MemberToken">
	    <selectKey keyProperty="tokenNo" resultType="int" order="BEFORE">
	        SELECT seq_token.nextval FROM dual
	    </selectKey>
	    INSERT INTO Token (USER_NO, TOKEN_NO, TOKEN)
	    values (#{userNo}, #{tokenNo}, #{token})
	</insert>
	
	<update id="confirmEmailInsert" parameterType="MemberToken">
		update TOKEN
		set TOKEN_STATUS = 'N'
		where TOKEN_NO = #{tokenNo}
		and TOKEN = #{token}
		and TOKEN_STATUS = 'Y'
	</update>
	
	<!-- 토큰과 토큰 번호로 토큰의 주인 알아내기 -->
	<select id="resendEmail" parameterType="MemberToken" resultMap="memberResultMap">
		select m.USER_NO, m.USER_ID, m.USER_NAME
		from member m
		join TOKEN t on (m.USER_NO=t.USER_NO)
		where TOKEN_NO = #{tokenNo}
		and TOKEN = #{token}
	</select>
	
</mapper>