<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResultMap">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_ROLE" property="userRole"/>
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
	    <selectKey keyProperty="userNo" resultType="int" order="BEFORE">
	        SELECT seq_me.nextval FROM dual
	    </selectKey>
	    INSERT INTO member (USER_NO, USER_ID, USER_PWD, USER_NAME, PHONE)
	    VALUES (#{userNo}, #{userId}, #{userPwd}, #{userName}, #{phone})
	</insert>
	
	<update id="confirmEmailInsert">
		update member
		set STATUS = 'Y',
			ENROLLDATE = SYSDATE
		where USER_NO = (select USER_NO
						from token
						where TOKEN_NO = #{tokenNo})
	</update>
	
	<select id="checkUserId" parameterType="string" resultType="int">
		select count(*)
		from member
		where user_id = #{id}
	</select>
	
	<select id="selectUserId" parameterType="_int" resultType="string">
		select user_id
		from member
		where user_no = #{userNo}
	</select>
	
	<select id="loginMember" resultMap="memberResultMap">
	    select 
	        m.USER_NO,
	        m.USER_ID,
	        m.USER_PWD,
	        m.USER_NAME,
	        m.PHONE,
	        m.USER_LOCATION,
	        m.ENROLLDATE,
	        m.MODIFYDATE,
	        case 
	            when exists (
	                select 1 
	                from ROLE r 
	                where r.USER_NO = m.USER_NO
	            ) then 'Y' 
	            else 'N' 
	        end as USER_ROLE
	    from MEMBER m
	    where m.STATUS = 'Y'
	    and m.USER_ID = #{userId}
	</select>


</mapper>