<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
		
	<typeAliases>
		<typeAlias type="com.gaonna.yami.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.gaonna.yami.member.email.vo.MemberToken" alias="MemberToken"/>
		<typeAlias type="com.gaonna.yami.event.model.vo.Event" alias="Event"/>
		<typeAlias type="com.gaonna.yami.location.vo.Coord" alias="Coord"/>
		<typeAlias type="com.gaonna.yami.location.vo.Location" alias="Location"/>
		<typeAlias type="com.gaonna.yami.product.vo.Product" alias="Product"/>
		<typeAlias alias="Category" type="com.gaonna.yami.product.vo.Category"/>
		<typeAlias type="com.gaonna.yami.product.vo.Attachment" alias="Attachment"/>

	</typeAliases>
	
</configuration>