<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 이메일 송신 관련 설정 -->

    <!-- 컴포넌트 스캔 추가 -->
    <context:component-scan base-package="com.gaonna.yami.member.email" />
	
	<!--
	의존성 중복 제거
	이미 서비스 클래스에 @Service이노테이션이 선언되어
	bean으로 한번더 의존성을 주입하면
	중복 의존성 -> nullPointException 오류
	
	<bean id="helpMailSendable" class="org.hugme.aiWeather.email.service.EmailService">
    	<property name="mailSender" ref="mailSender"/>
	</bean>
	-->
	
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	    <property name="host" value="smtp.gmail.com" />
	    <property name="port" value="587" />
	    
	    <!-- 구글 아이디 -->
	    <property name="username" value="mailforonggi@gmail.com" />
	    <!-- 앱 비밀번호 -->
	    <property name="password" value="whwrtthmzmilixwt" />
	    
	    <property name="javaMailProperties">
	        <props>
	            <prop key="mail.smtp.auth">true</prop>
	            <prop key="mail.smtp.starttls.enable">true</prop>
	            <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
	            <prop key="mail.mime.charset">UTF-8</prop>
	        </props>
	    </property>
	</bean>
</beans>